.nav {
    color: #5a5a5a;
    font-size: 24px;
    font-weight: bold;
    padding-top:14px;
    padding-bottom:14px;
    padding-left:10px;
    padding-right:10px;
    text-transform:uppercase;
}
.jumbotron{
    height: 500px;
    background-image:url('http://www.lonemountainranch.com/uploads/page-slideshows/195/pg_flyfishing_montana_003__large.jpg');
    width: inherit;
}
